<!DOCTYPE html>
<html>
<head>
  <title>Network Discovery Tool</title>
  <style>
    #toolbar {
      position: absolute; /* Positioned within the container */
      z-index: 1; /* Lower z-index means it's underneath */
      left: 20px;
      border: 1px solid black;
      padding: 20px;
      background-color: #c0c0c0;
      opacity: 0.9;
      border-radius: 15px; /* Applies a 15px radius to all four corners */
    }
    #container {
      width: 100%;
      height: 100vh;
      background-color: #ffffff;
    }
  </style>
   <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

</head>
<body>
  <div>
  </div>
  <br/>
  
  <div id="toolbar">
    Show the last <input type="number" id="num-hours" value="10" min="1" max="100" /> hours

    <br><br>

    Interfaces:

    <br>

    {% for interface in interfaces %}
      - {{ interface }} <br>
    {% endfor %}

    <br>

    Protocols:

    <br>

    <input type="checkbox" id="tcp" checked /> TCP <br>
    <input type="checkbox" id="udp" checked /> UDP <br>
    <input type="checkbox" id="icmp" checked /> ICMP

  </div>
  <div id="container"></div>

  <script>
    var cy = cytoscape({
      container: document.getElementById('container'),
      boxSelectionEnabled: false,
      autounselectify: true,
      layout: {
        name: 'cose',
        nodeRepulsion: 200000, // A higher value increases the repulsion between nodes
        nodeDimensionsIncludeLabels: true, // Prevents node labels from overlapping
        padding: 50 // Adds padding around the graph
      },
      elements: [
        {% for endpoint in endpoints %}
          { data: { 
              id: '{{ endpoint }}',
              {% if endpoint == hostname %}type: 'local'{% endif %}
            } 
          },
        {% endfor %}
        {% for comm in communications %}
          { data: {
            id: '{{ comm.sub_protocol }}-{{ comm.src_hostname }}-{{ comm.dst_hostname }}',
            source: '{{ comm.src_hostname }}',
            target: '{{ comm.dst_hostname }}',
            label: '{{ comm.sub_protocol }}'
          }},
        {% endfor %}
      ],
      style: [
        {
          selector: 'node',
          style: {
            'content': 'data(id)',
            'background-color': '#61bffc',
            'font-size': 10,
          }
        },
      {
      selector: 'node[type = "local"]',
      style: {
          'background-color': '#3333CC' // A specific color for these nodes
        }
      },
        {
          selector: 'edge',
          style: {
            'target-arrow-shape': 'triangle',
            'label': 'data(label)',
            'curve-style': 'bezier',
            'width': '1px',
            'opacity': 0.5,
            'line-color': '#AAAAAA',
            'font-size': 6,
          }
        }
      ],
    });
  </script>
</body>
</html>